<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Clinica Spring Security</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css(v=${version}) }" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet"/>
<!-- jQueryUI (autocomplete) -->
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
<!-- Icons fontawesome -->
<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" crossorigin="anonymous" rel="stylesheet" />
<!-- Custom styles for this template -->
<link th:href="@{/css/style-home.css(v=${version}) }" rel="stylesheet" />
<link rel="icon" th:href="@{/image/favicon.ico}" />
<style type="text/css">

img{
	margin-top: 30px;
}

body {
				background-color: #fafafa;
				font-size: 16px;
				line-height: 1.5;
			}
			
			h1,h2,h3,h4,h5,h6 {
				font-weight: 400;	
			}
			
			#header {
				border-bottom: 5px solid #37474F;
				color: #37474F;
				margin-bottom: 1.5rem;
				padding: 1rem 0;
			}
			
			#revenue-tag {
				font-weight: inherit !important;
				border-radius: 0px !important;
			}
			
			.card {
				border: 0rem;
				border-radius: 0rem;
			}
			
			.card-header {
				background-color: #37474F;
				border-radius: 0 !important;
				color:	white;
				margin-bottom: 0;
				padding:	1rem;
			}
			
			.card-block {
				border: 1px solid #cccccc;	
			}
			
			.shadow {
				box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
										0 1px 18px 0 rgba(0, 0, 0, 0.12),
										0 3px 5px -1px rgba(0, 0, 0, 0.2);
			}
			
			#revenue-column-chart, #products-revenue-pie-chart, #orders-spline-chart {
				height: 300px;
				width: 100%;
			}	

</style>
</head>
<body>	

<header th:replace="fragments/header :: cabecalho">
		<div>header</div>
	</header>
	
	<section class="layout-content" layout:fragment="corpo">
		<main role="main">
		
				
				<img class="d-block mx-auto mb-4"
					th:src="@{/image/spring-security.png}" width="72" height="72">
					
					<div class="container">
					<h1 class="jumbotron-heading">Clínica Spring Security</h1>
					<p class="lead" style="color:#6bbd47; text-align:center;">Bem vindo,
							<i class="fas fa-user"></i> <span class=""
								sec:authentication="name">Bob</span>
						</p>
				</div>
			
			<section class="jumbotron text-center ">
				<div class="row m-b-1" style="margin-bottom: 20px">
				<div class="col-lg-12">
					<div class="card shadow">
						<h4 class="card-header">Teste <span class="tag tag-success" id="revenue-tag">Grafico 1</span></h4>
						<div class="card-block">
							<div id="revenue-column-chart" ></div>
						</div>
					</div>
				</div>
			</div> <!-- row -->

			<div class="row m-b-1">
				<div class="col-lg-6">
					<div class="card shadow">
						<h4 class="card-header">Teste 2</h4>
						<div class="card-block">
							<div id="products-revenue-pie-chart"></div>
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="card shadow">
						<h4 class="card-header">Teste 3</h4>
						<div class="card-block">
							<div id="orders-spline-chart"></div>
						</div>
					</div>
				</div>
			</div> <!-- row -->
			</section>
			</main></section>
			
		<script src="/assets/jquery/jquery-3.1.0.min.js"></script>
		<script src="/assets/tether/tether.min.js"></script>
		<script src="/assets/bootstrap/bootstrap4-alpha3.min.js"></script>
		<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
		
		
		<script th:inline="javascript">
		
		window.onload = function(){
			var totalRevenue = 15341110;
			
			// CanvasJS column chart to show revenue from Jan 2015 - Dec 2015
			var revenueColumnChart = new CanvasJS.Chart("revenue-column-chart", {
				animationEnabled: true,
				backgroundColor: "transparent",
				theme: "theme2",
				axisX: {
					labelFontSize: 14,
					valueFormatString: "MMM YYYY"
				},
				axisY: {
					labelFontSize: 14,
					prefix: "$"
				},
				toolTip: {
					borderThickness: 0,
					cornerRadius: 0
				},
				data: [
					{
						type: "column",
						yValueFormatString: "$###,###.##",
						dataPoints: [
							{ x: new Date("1 Jan 2015"), y: 868800 },
							{ x: new Date("1 Feb 2015"), y: 1071550 },
							{ x: new Date("1 Mar 2015"), y: 1286200 },
							{ x: new Date("1 Apr 2015"), y: 1106900 },
							{ x: new Date("1 May 2015"), y: 1033800 },
							{ x: new Date("1 Jun 2015"), y: 1017160 },
							{ x: new Date("1 Jul 2015"), y: 1458000 },
							{ x: new Date("1 Aug 2015"), y: 1165850 },
							{ x: new Date("1 Sep 2015"), y: 1594150 },
							{ x: new Date("1 Oct 2015"), y: 1501700 },
							{ x: new Date("1 Nov 2015"), y: 1588400 },
							{ x: new Date("1 Dec 2015"), y: 1648600 }
						]
					}
				]
			});
			
			revenueColumnChart.render();
			
			//CanvasJS pie chart to show product wise annual revenue for 2015
			var productsRevenuePieChart = new CanvasJS.Chart("products-revenue-pie-chart", {
				animationEnabled: true,
				theme: "theme2",
				legend: {
					fontSize: 14
				},
				toolTip: {
					borderThickness: 0,
					content: "<span style='\"'color: {color};'\"'>{name}</span>: ${y} (#percent%)",
					cornerRadius: 0
				},
				data: [
					{       
						indexLabelFontColor: "#676464",
						indexLabelFontSize: 14,
						legendMarkerType: "square",
						legendText: "{indexLabel}",
						showInLegend: true,
						startAngle:  90,
						type: "pie",
						dataPoints: [
							{  y: 6289855, name:"Product A", indexLabel: "Product A - 41%", legendText: "Product A", exploded: true },
							{  y: 2761400, name:"Product B", indexLabel: "Product B - 18%", legendText: "Product B" },
							{  y: 3681866, name:"Product C", indexLabel: "Product C - 24%", legendText: "Product C", color: "#8064a1" },
							{  y: 2607989, name:"Product D", indexLabel: "Product D - 17%", legendText: "Product D" }
						]
					}
				]
			});
			
			productsRevenuePieChart.render();
			
			//CanvasJS spline chart to show orders from Jan 2015 to Dec 2015
			var ordersSplineChart = new CanvasJS.Chart("orders-spline-chart", {
				animationEnabled: true,
				backgroundColor: "transparent",
				theme: "theme2",
				toolTip: {
					borderThickness: 0,
					cornerRadius: 0
				},
				axisX: {
					labelFontSize: 14,
					maximum: new Date("31 Dec 2015"),
					valueFormatString: "MMM YYYY"
				},
				axisY: {
					gridThickness: 0,
					labelFontSize: 14,
					lineThickness: 2
				},
				data: [
					{
						type: "spline",
						dataPoints: [
							{ x: new Date("1 Jan 2015"), y: 17376 },
							{ x: new Date("1 Feb 2015"), y: 21431 },
							{ x: new Date("1 Mar 2015"), y: 25724 },
							{ x: new Date("1 Apr 2015"), y: 22138 },
							{ x: new Date("1 May 2015"), y: 20676 },
							{ x: new Date("1 Jun 2015"), y: 25429 },
							{ x: new Date("1 Jul 2015"), y: 29160 },
							{ x: new Date("1 Aug 2015"), y: 23317 },
							{ x: new Date("1 Sep 2015"), y: 31883 },
							{ x: new Date("1 Oct 2015"), y: 30034 },
							{ x: new Date("1 Nov 2015"), y: 31768 },
							{ x: new Date("1 Dec 2015"), y: 41215 }
						]
					}
				]
			});

			ordersSplineChart.render();
		}
		
		</script>
		
		
		
			
		
 

<footer th:replace="fragments/footer :: rodape">
		<div>footer</div>
	</footer>
	
	
<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/webjars/jquery/jquery.min.js(v=${version}) }"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js(v=${version}) }"></script>
	


</body>
</html>