<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Clinica Spring Security</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css(v=${version}) }" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet"/>
<!-- jQueryUI (autocomplete) -->
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
<!-- Icons fontawesome -->
<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" crossorigin="anonymous" rel="stylesheet" />
<!-- Custom styles for this template -->
<link th:href="@{/css/style-home.css(v=${version}) }" rel="stylesheet" />
<link rel="icon" th:href="@{/image/favicon.ico}" />
</head>
<body>	

<header th:replace="fragments/header :: cabecalho">
		<div>header</div>
	</header>

<script th:inline="javascript">
/*<![CDATA[*/
window.onload = function() {
    var grafico = /*[[${grafico}]]*/ 'default';
    
    //  Only a test
    grafico.forEach(myFunction);
    function myFunction(value, index, array) {
    	console.log(value); 
    }    
    
    var chart = new CanvasJS.Chart("chartContainer", {
    	animationEnabled: true,
    	title: {
    		text: "Quantidade de Usuarios"
    	},
    	ajax:{
    		url:'/quantidade-especialidade/'+ grafico,
    		data:'data'
    	},
    	data: [{        
    		type: "pie",
    		startAngle: 240,
    		yValueFormatString: "##0.00\"\"",
    		indexLabel: "{label} {y}",     
    		dataPoints: []
    	}]
    });

    chart.options.data[0].dataPoints = grafico;	
    chart.render();		
    
    var chart = new CanvasJS.Chart("chartContainer", {
    	animationEnabled: true,
    	exportEnabled: true,
    	title: {
    		text: "Simple Column Chart with Index Labels"
    	},
    	data: [{
    		type: "column", //change type to bar, line, area, pie, etc
    		//indexLabel: "{y}", //Shows y value on all Data Points
    		indexLabelFontColor: "#5A5757",
    		dataPoints: dps[0]
    	}]
    });
    	
}	
/*]]>*/

</script>
 <div id="chartContainer" style="height: 250px; width: 40%; margin-top: 5%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>




<footer th:replace="fragments/footer :: rodape">
		<div>footer</div>
	</footer>
	
	
<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/webjars/jquery/jquery.min.js(v=${version}) }"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js(v=${version}) }"></script>
	


</body>
</html>